@model IEnumerable<KeepNotes.Models.Category>

@{
    ViewData["Title"] = "Keep Notes | Category-Index";
}
<div class="col-auto my-4">
    <div class="text-center">
<h1>Index</h1>
<p class="h3">
    <a asp-action="Create">Create New</a>
</pc>
    </div>
<table class="table table-borderless container table-hover">
        <thead class="thead-dark">
        <tr>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.categories) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="Edit"  asp-route-id="@item.CategoryId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
